option_settings:
  "aws:elasticbeanstalk:container:php:phpini" :
    document_root : "/MyShoppingListV3"
  "aws:ec2:vpc" :
    VPCId : 
    Subnets : 
    ELBSubnets : 
    DBSubnets :
    ELBScheme : "public"
  "aws:autoscaling:launchconfiguration" :
    EC2KeyName : "devops"
    SecurityGroups : 
  "aws:rds:dbinstance" :
    DBEngine : "mysql"
    DBEngineVersion : "5.5"
    MultiAZDatabase : "true"
    DBInstanceClass : "db.t2.micro"
    DBDeletionPolicy : "Delete"
    DBAllocatedStorage : "5"
    DBUser : "myuser"
    DBPassword : "mypassword"